.my-nav {
    /*display in nav in small screen*/
    display: inherit !important;
    overflow: visible;
    background-color: white;
}

.my-nav .mdl-menu__container {
    z-index: 50;
    margin: 0 !important;
}

.my-nav .material-icons {
    color: #767777 !important;
}

.my-nav .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
}

.my-nav .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
}