<footer class="mdl-mini-footer foot-end">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Like a Rolling Stone</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://github.com/oneRice" mdl-tooltip-large="OneRice" mdl-tooltip-position="top">
        Github
      </a></li>
      <li><a href="https://www.linkedin.com/in/yifan-li-721285b0" mdl-tooltip-large="Yifan Li" mdl-tooltip-position="top">
        LinkedIn
      </a></li>   
      <li><a href="onericeyifan@gmail.com" mdl-tooltip-large="onericeyifan@gmail.com" mdl-tooltip-position="top">
        Email
      </a></li>
      <li><a mdl-tooltip-large="+41 076 410 8083" mdl-tooltip-position="top">
        Mobile
      </a></li>
    </ul>
  </div>
</footer>