<div class="mdl-grid">

  <!--left margin-->
  <div class="mdl-cell mdl-cell--1-col--desktop mdl-cell--hide-phone mdl-cell--1-col-tablet"></div>

  <!--content-->
  <div class="mdl-cell mdl-cell--10-col--desktop mdl-cell--10-col-tablet">
    <mdl-card class="error-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>Page not Found</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        Sorry, an error occoured.
        <br>
        Your requested URL is no longer available on this server.
        <br>
        Please contact us through links in footer if you have any question.
      </mdl-card-supporting-text>
      <mdl-card-actions mdl-card-border>
        <button mdl-button mdl-colored mdl-ripple routerLink="/home">Go to homepage</button>
      </mdl-card-actions>
    </mdl-card>
  </div>

  <!--right margin-->
  <div class="mdl-cell mdl-cell--1-col--desktop mdl-cell--hide-phone mdl-cell--1-col-tablet"><p> </p></div>

</div>
