<div class="initial-msg">
  Contact
</div>

<!--PERSONAL INFORMATION-->
<div class="mdl-grid">
   <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--8-col">

    <mdl-card class="center-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>PERSONAL INFORMATION</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Name
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            Yifan Li
          </div>
          <hr>
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Nationality
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            Chinese
          </div>
          <hr>
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Birthday
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            12 - 07 - 1990
          </div>
          <hr>
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Working Permit
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            B type -- Available for working in Switzerland
          </div>

        </div>
      </mdl-card-supporting-text>
    </mdl-card>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>

<!--CONTACTS-->
<div class="mdl-grid">
   <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--8-col">

    <mdl-card class="center-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>CONTACTS</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div class="mdl-grid">
          
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Address
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            Schönaustrasse 67, 4058 Basel, Switzerland
          </div>
          <hr>
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Mobile Phone
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            +41 076 410 80 83
          </div>
          <hr>
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Email
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            onericeyifan@gmail.com
          </div>
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Github
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            onericeyifan@gmail.com
          </div>
          <div class="mdl-cell mdl-cell--3-col sub-head">
            LinkedIn
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            onericeyifan@gmail.com
          </div>       
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Dribble
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            OneRice           
          </div>
        </div>
      </mdl-card-supporting-text>
    </mdl-card>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>