<div class="main-container" mdl-shadow="2">
   <mdl-layout mdl-layout-fixed-header #mdlLayout1="mdlLayout">
       
       <!--nav bar-->
      <mdl-layout-header class="nav-head">
         <mdl-layout-header-row>
            <mdl-layout-title>{{title}}</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
               <a class="mdl-navigation__link" routerLink="/home" routerLinkActive="active">Home</a>
               <a class="mdl-navigation__link" routerLink="/projects" routerLinkActive="active">My Projects</a>
               <a class="mdl-navigation__link" routerLink="/resume" routerLinkActive="active">Resume</a>
               <a class="mdl-navigation__link" routerLink="/blog" routerLinkActive="active">Blog</a>
               <a class="mdl-navigation__link nav-box" routerLink="/contact" routerLinkActive="active">Contact Me</a>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>

      <!--side bar-->
      <mdl-layout-drawer>
         <mdl-layout-title>{{title}}</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/home" (click)="mdlLayout1.closeDrawer()">Home</a>
            <a class="mdl-navigation__link" routerLink="/projects" (click)="mdlLayout1.closeDrawer()">My Projects</a>
            <a class="mdl-navigation__link" routerLink="/resume" (click)="mdlLayout1.closeDrawer()">Resume</a>
            <a class="mdl-navigation__link" routerLink="/blog" (click)="mdlLayout1.closeDrawer()">Blog</a>
            <a class="mdl-navigation__link" routerLink="/contact" (click)="mdlLayout1.closeDrawer()">Contact Me</a>
         </nav>
      </mdl-layout-drawer>

      <!--actual content-->
      <mdl-layout-content>
          <router-outlet></router-outlet>
          <app-footer></app-footer>
      </mdl-layout-content>
      
      <!--footer-->
   </mdl-layout>
</div>