<div class="mdl-layout__header">
    <div class="mdl-layout-icon">
        <i class="material-icons">spa</i>
    </div>
    <div class="mdl-layout__header-row">
        <span class="mdl-layout__title">Home</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/skilltree" routerLinkActive="active" >Skill Tree</a>
            <a class="mdl-navigation__link" routerLink="/resume" routerLinkActive="active" >Resume</a>
        </nav>
    </div>
</div>