<div class="initial-msg">
  Résumé
</div>

<!--TECHNOLOGIES-->
<div class="mdl-grid">
   <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--8-col">

    <mdl-card class="center-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>TECHNOLOGIES</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div class="mdl-grid">
          
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Advanced
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            C, HTML, CSS, Javascript(vanilla)
          </div>
          <hr>
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Intermediate
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            AngularJS, Typescript, ES2016(latest JS), Hybrid App, Progressive APP, Sass, Node JS, Bootstrap, jQuery, SQL, Grunt, nodeunit, Git, C++, python
          </div>
          <hr>
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Basic
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            PHP, objective-C, Java, React, React Native, Polymer, Android, IOS, swift, Cocoa Touch, bash, Vim
          </div>

        </div>
      </mdl-card-supporting-text>
    </mdl-card>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>

<!--WORKING EXPERIENCE-->
<div class="mdl-grid">
   <div class="mdl-layout-spacer"></div>
   <div class="mdl-cell mdl-cell--8-col">
    <mdl-card class="center-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>WORKING EXPERIENCE</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div class="mdl-grid">
          
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Nov.2015 - Jul.2016
          </div>

          <div class="mdl-cell mdl-cell--9-col">
            <span class="inner-title">Full Stack Developer <br></span>
            <span class="add-info">Qifenchi (a healthy food startup) — Shanghai China <br> </span> 
            <div class="inner-p">Developed a demo-stage single-page web APP aiming at helping users to meal-prep healthy food and ingredient shopping online. <br></div>
            <span class="point">Tools used: </span>HTML/CSS, Javascript, AngularJS(1&2), Firebase, SQL, Sass, MDL, Grunt, npm, Git <br>
          </div>

          <hr>

          <div class="mdl-cell mdl-cell--3-col sub-head">
            Jul.2014 - Nov.2015
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            <span class="inner-title">Software Engineer</span> <br>
            <span class="add-info">Huawei R&D Center — Shanghai China <br> </span>
            <div class="inner-p">Developed new features and fix bugs on WCDMA RNC used by telecom carriers. Developed a code auto-generator with python which saved 30% of time for developing CHR(tracing log) features. <br></div>
            <span class="point">Tools used: </span>C, Google Test, python, SVN, Excel VBA <br>
          </div>

          <div class="mdl-cell mdl-cell--3-col sub-head">
            Sep.2013 - Jun.2014
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            <span class="inner-title">Software Engineer (Internship)</span> <br>
            <span class="add-info">China Electronic 32nd R&D Center — Shanghai China <br></span>
            <div class="inner-p">Developed a fault-detection and redundancy system for satellite-based computer. <br></div>
            <span class="point">Tools used: </span>MATLAB, C, FPGA
          </div>

        </div>
      </mdl-card-supporting-text>
    </mdl-card>
  </div>
   <div class="mdl-layout-spacer"></div>
</div>

<!--EDUCATION-->
<div class="mdl-grid">
   <div class="mdl-layout-spacer"></div>
   <div class="mdl-cell mdl-cell--8-col">
    <mdl-card class="center-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>EDUCATION</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div class="mdl-grid">
          
          <div class="mdl-cell mdl-cell--3-col sub-head">
            Sep.2012 - Jun.2014
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            <span class="inner-title">Master in Electrical and telecommunication</span> <br>
            <div class="inner-p">Fudan University (top 5 in China) — Shanghai China <br></div>
            <span class="point">Thesis:</span> <span class="add-info">A Decision-Tree-based Fault-detection and Redundancy System for Satellite-based Computer.<br></span>
          </div>

          <hr>

          <div class="mdl-cell mdl-cell--3-col sub-head">
            Sep.2008 - Jun.2012
          </div>
          <div class="mdl-cell mdl-cell--9-col">
            <span class="inner-title">Bachelor in Science and Technology of Electronic</span> <br>
            <div class="inner-p">Tongji University (top 20 in China), Shanghai China <br></div>
            <span class="point">Thesis: </span><span class="add-info">A High-precision BCI(Brain Computer Interface) System based on Movement Imagination. <br></span>
          </div>

        </div>
      </mdl-card-supporting-text>
    </mdl-card>
  </div>
   <div class="mdl-layout-spacer"></div>
</div>