.sub-head{
    color: #212121;
    font-size: 110%;
    font-weight: bold;
}

.inner-title {
    color: #212121;
    font-size: 110%;
    font-weight: bold;
    font-style: italic;
}

.inner-p {
    color: #212121;
    padding-top : 10px;
    padding-bottom: 10px;
    font-stretch: expanded;
}

.point {
    color: #212121;
    font-weight: bold;
}

.add-info{
    font-size: 90%;
    font-stretch: condensed;
    font-style: oblique;
}


@media (min-width: 480px) and (max-width: 839px) {
    .resume-card {
        width: 440px;
    }
}

@media (min-width: 840px) and (max-width: 1023px) {
    .resume-card {
        width: 630px;
    }
}

@media (min-width: 1024px) {
    .resume-card {
        width : 820px;
    }
}