/* You can add global styles to this file, and also import other style files */

body {
    background-color: #263238;
}

.initial-msg {
    padding: 100px 0 100px 0;
    text-align: center;
    font-weight: lighter;
    background-color:#263238;
    color: white;
}

@media (max-width: 839px) {
    .initial-msg {
        font-size: 56px;
    }
}

@media (min-width: 840px) {
    .initial-msg {
        font-size: 112px;
    }
}

.foot-end {
    background-color: #263238 !important;
}

.dark-text{
    color: #424242 !important;
}

.mdl-layout__drawer-button {
    color: white !important;
}


@media (min-width: 480px) and (max-width: 839px) {
    .center-card {
        width: 440px;
    }
}

@media (min-width: 840px) and (max-width: 1023px) {
    .center-card {
        width: 630px;
    }
}

@media (min-width: 1024px) {
    .center-card {
        width : 820px;
    }
}