/* You can add global styles to this file, and also import other style files */

body {
    background-color: #37474F;
}

.initial-msg {
    padding: 80px;
    text-align: center;
    font-size: 112px;
    font-weight: lighter;
    background-color:#263238;
    color: white;
}

.mdl-layout__drawer-button {
    color: white !important;
}

@media (min-width: 480px) and (max-width: 839px) {
    .center-card {
        width: 440px;
    }
}

@media (min-width: 840px) and (max-width: 1023px) {
    .center-card {
        width: 630px;
    }
}

@media (min-width: 1024px) {
    .center-card {
        width : 820px;
    }
}