<div class="initial-msg">
  <h1>Welcome</h1>
</div>

<div class="mdl-grid">
   <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--8-col">

    <mdl-card class="center-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>Welcome To My Home Page</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div class="mdl-grid">
          <h5>
            This site is still under construction. <br>
            Your can visit my resume and contact me with links in navigation bar. <br>
            <hr>
            Thank You! <br>
            <hr>
            Dankeschön! <br>
            <hr>
            谢谢！ <br>
          </h5>
        </div>
      </mdl-card-supporting-text>
    </mdl-card>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>